fastapi
uvicorn
python-dotenv         # REQUIRED for: from dotenv import load_dotenv
pydantic
groq
pdfminer.six
python-docx
reportlab
aiofiles
starlette
requests
python-multipart
typing-extensions
jinja2
